@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

label {
  display: block;
  margin-bottom: 10px;
}

input,
textarea {
  display: block;
  width: 20%;
  padding: 10px;
  margin: 0 auto 20px auto; /* Center the element horizontally */
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button[type="submit"] {
  display: block;
  width: 20%;
  padding: 10px;
  margin-top: 20px;
  margin: 0 auto;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: black;
  cursor: pointer;
  font-family: 'Caveat', cursive;
}

body {
  font-family: 'Caveat', cursive;
  font-size: large;
}
